module.exports = {
	database: {
		connectionLimit: 10
	,	host: '127.0.0.1'
	,	user: 'username'
	,	password: 'password'
	,	database: 'database'
	}

,	server_key: '43/letter/base/64/server/side/password/here'
,	services: {
	,	twitter: {
			secretKey: 'consumer secret/API secret'
		,	oauthConsumerKey: 'consumer key/API key'
		}
	}
};
