background: #fff;
color: #000;
body {
	padding-bottom: 2em;
}
.content {
	min-width: 375px;
	max-width: 750px;
	margin: auto 0;
	position: relative;
}
footer {
	position: absolute;
	bottom: 0px;
	height: 2em;
}
